// Начните писать стили здесь

.bio-data__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}

.bio-data__description {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 226px;
  margin-bottom: 39px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    width: 323px;
  }
}
