.social {
  display: flex;
  position: relative;
  justify-content: space-between;

  @media (max-width: @mobile-only) {
    border-top: 1px solid @dark-grey;
    border-bottom: 1px solid @dark-grey;
  }

  @media (min-width: @tablet) {
    margin-top: auto;
    margin-bottom: auto;
    width: 122px;
  }
}

.social__item {
  display: flex;
  height: 64px;
}

.social__item--first {
  @media (max-width: @mobile-only) {
    padding-left: 50px;
  }
}

.social__item--last {
  @media (max-width: @mobile-only) {
    padding-right: 50px;
  }
}

.social__link {
  margin-top: auto;
  margin-bottom: auto;
}

.social__logo {
  fill: none;
  align-self: center;

  &:hover {
    stroke: @green;
  }

  &:active {
    stroke: @green;
    opacity: 0.3;
  }

  &--vk {
    width: 29px;
    height: 17px;
  }

  &--insta {
    width: 23px;
    height: 23px;
  }

  &--fb {
    width: 15px;
    height: 29px;
  }
}

.footer-media__HTML-academy-wrapper {
  position: relative;
  margin-top: 28px;
  margin-bottom: 32px;

  @media (min-width: @tablet) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.footer-media__HTML-academy {
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  &:hover {
    stroke: @green;
    fill: @green;
  }

  &:active {
    stroke: @green;
    opacity: 0.3;
  }
}

.footer-media__HTML-academy-label {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  color: @special_dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet) {
    margin-right: 22px;
  }
}

.footer-media__HTML-academy-logo {
  width: 27px;
  height: 34px;
  margin-top: auto;
  margin-bottom: auto;
}
