.social {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: @mobile-only) {
    border-top: 1px solid @dark-grey;
    border-bottom: 1px solid @dark-grey;
  }

  @media (min-width: @tablet) {
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
  }
}

.social__item {
  display: flex;
  height: 64px;
}

.social__item:nth-of-type(3n+1){
  @media (max-width: @mobile-only) {
    padding-left: 73px;
  }

  @media (min-width: @tablet) {
    padding-left: 5px;
  }
}

.social__item:nth-of-type(3n+2) {
  margin-left: auto;
  margin-right: auto;
}

.social__item:nth-of-type(3n) {
  @media (max-width: @mobile-only) {
    padding-right: 82px;
  }

  @media (min-width: @tablet) {
    padding-right: 22px;
  }
}

.social__link {
  margin-top: auto;
  margin-bottom: auto;
}

.social__logo--vk {
  stroke: none;
  fill: @social;
  width: 22px;
  height: 12px;

  &:hover {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    width: 29px;
    height: 17px;
  }
}

.social__logo--insta {
  stroke: none;
  fill: @social;
  width: 16px;
  height: 16px;

  &:hover {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    width: 23px;
    height: 23px;
  }
}

.social__logo--fb {
  fill: none;
  stroke: @social;
  width: 10px;
  height: 18px;
  stroke-width: 1.5;

  &:hover {
    stroke: @green;
  }

  &:active {
    stroke: @green;
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    width: 13px;
    height: 27px;
    stroke-width: 1.1;
  }
}
